<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @car.company %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @car.birth_date %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
